* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  perspective: 800px;
}

@media only screen and (min-width: 498px) {
  /* For tablets: */
  #backplane{
    background-image: url('./components/images/watches.jpg');
    max-width: 952px;
    max-height: 631px;
  }  
  .OutputScreen{
    border-radius: 50%;
  }
  #Screen1{
    top:13%; height:61%;
    left: 3.7%; width:34%;
  }
  #Screen2{
    top: 13%; height:64%;
    left: 52%; width: 35%;
    transform: perspective(400px) rotateY(-14deg);
  }
  #Button1 {
    left:5%; width: 10%;
    top:80%; height: 5.5%;
    transform: 
      perspective(400px)
      rotateZ(15deg);
  }
  
  #Button2 {
    left:25%; width: 9.6%;
    top:80%; height: 5.5%;
    transform: 
      perspective(400px) 
      rotateZ(-15deg)
  }
  #Button3 {
    left:55%; width: 10%;
    top:82%; height: 5.5%;
    transform: 
      perspective(400px)
      rotateZ(21deg);
  }
  
  #Button4 {
    left:80%; width: 9.6%;
    top:82%; height: 5.5%;
    transform: 
      perspective(400px) 
      rotateZ(-22deg)
  }
}