* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  perspective: 800px;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  min-width: 100vw;
  font-size: calc(10px + 2vmin);
  color: black;
}

#backplane{
  background-image: url('./components/images/Tricorder.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #282c34;
  max-width: 497px;
  max-height: 923px;
  padding: 0px;
  padding-bottom: 56.25%;
  margin: 0px;
  border: 0px;
  position:relative;
}

.OutputScreen{
  background-color: none;
  border-radius: 50px;
  text-align: center;
  vertical-align: center;
  font-size: 25;
  color: black;
  padding: 0px;
  margin: 0px;
  position: absolute;
  border-width: 2px;
  border-style: solid;
  border-color: wheat;
}

.ScreenControl {
  position: absolute;
  text-align: center;
  font-size:25;
  padding: 0px;
  margin: 0px;
}

#baseboard{
  color: wheat;
  text-align: right;
  vertical-align: bottom;
  background-color: #282c34;
  min-height:5vh;
  padding: 0px;
  margin: 0px;
}

@media only screen and (min-width: 498px) {
  /* For tablets: */
  #backplane{
    background-image: url('./components/images/watches.jpg');
    max-width: 952px;
    max-height: 631px;
  }  
  .OutputScreen{
    border-radius: 50%;
  }
  #Screen1{
    top:13%; height:61%;
    left: 3.7%; width:34%;
  }
  #Screen2{
    top: 13%; height:64%;
    left: 52%; width: 35%;
    transform: perspective(400px) rotateY(-14deg);
  }
  #Button1 {
    left:5%; width: 10%;
    top:80%; height: 5.5%;
    transform: 
      perspective(400px)
      rotateZ(15deg);
  }
  
  #Button2 {
    left:25%; width: 9.6%;
    top:80%; height: 5.5%;
    transform: 
      perspective(400px) 
      rotateZ(-15deg)
  }
  #Button3 {
    left:55%; width: 10%;
    top:82%; height: 5.5%;
    transform: 
      perspective(400px)
      rotateZ(21deg);
  }
  
  #Button4 {
    left:80%; width: 9.6%;
    top:82%; height: 5.5%;
    transform: 
      perspective(400px) 
      rotateZ(-22deg)
  }
}

@media only screen and (min-width: 953px) {
  /* For desktop: */
  #backplane{
    background-image: url('./components/images/RebelBase.jpg');
    max-width: 1920px;  
    max-height: 1080px; 
  }  
  .OutputScreen{
    border-radius: 75px;
  }
  #Screen1{
    top: 5%;  height: 51%;
    left: 16%; width: 37%;
  }
  #Screen2{
    top: 5.5%; height: 72%;
    left: 77%; width: 25%;
    transform: perspective(400px) rotateY(-17.5deg);
  }
  #Button1 {
    left:19%; width: 10%;
    top:60%; height: 5.5%;
    transform: 
      perspective(400px) 
      rotateZ(4deg)
      skewX(-37deg);
  }
  #Button2 {
    left:41.8%; width: 8.5%;
    top:60.4%; height: 4.1%;
    transform: 
      perspective(400px) 
      rotateZ(-6.4deg)
      skewX(43deg);
  }
  #Button3 {
    left:71%; width: 6%;
    top:85%; height: 5.5%;
    transform: 
      perspective(400px) 
      rotateZ(18deg)
      skewX(-18deg);
  }
  #Button4 {
    left:79.5%; width: 7.8%;
    top:90%; height: 6%;
    transform: 
      perspective(400px) 
      rotateZ(18deg)
      skewX(-18deg);
  }
}